@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: hsl(233, 26%, 24%);
  --green: hsl(136, 64%, 51%);
  --cyan: hsl(192, 69%, 51%);
  --gray-600: hsl(233, 8%, 62%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white: hsl(0, 100%, 100%);
}
.wrapper {
  max-width: 81rem;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.fixwrapper {
  position: fixed;
}
img {
  width: 100%;
}
body {
  font-family: "Public Sans", sans-serif;
}

.logo {
  width: 114px;
  height: 20px;
}
.menu {
  position: relative;
  width: 24px;
  height: 11px;
}
#hamburger img,
#close img {
  position: absolute;
}

#hamburger img {
  width: 24px;
  height: 11px;
}
#close img {
  width: 18px;
  height: 18px;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.overlay {
  padding: 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  transform-origin: left;
  transform: translateX(-100%);
  transition:
    visibility 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}
.displayModal {
  visibility: visible;
  transform: translateX(0);
}

.navbar ul {
  background-color: var(--white);
  max-width: 327px;
  min-height: 265px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1.5rem auto;
  list-style: none;
  padding: 1.9rem;
}
.navbar ul li {
  text-align: center;
  padding-top: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.125rem;
  line-height: 155%;
  font-weight: normal;
  letter-spacing: -0.016rem;
  outline: none;
}

.navbarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.34rem 1.5rem;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.deskNavbar {
  display: none;
}
.intro {
  padding: 0 1.5rem;
  padding-bottom: 3.5rem;
  margin-top: -25%;
  /* transform: translateY(-15%); */
  /* margin-bottom: -15%; */
  background-image: url("images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  display: grid;
}

.intro .text {
  max-width: 327px;
  margin-top: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.intro .text h1 {
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.046rem;
  font-weight: 300;
  text-align: center;
  color: var(--blue);
}
.intro .text p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 115%;
  letter-spacing: 0;
  text-align: center;
  color: var(--gray-600);
}
.intro .text button {
  color: var(--white);
  font-size: var(--blue);
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: 0;
  background-image: linear-gradient(hsl(136, 64%, 51%), hsl(192, 69%, 51%));
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 22px;
}

.intro .bg-image {
  display: none;
}
main .container {
  padding: 4rem 1.5rem;
  background-color: var(--gray-100);
}
.title {
  max-width: 327px;
  margin: auto;
}
.container .title h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.03125rem;
  color: var(--blue);
  text-align: center;
}
.container .title p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 115%;
  letter-spacing: 0;
  text-align: center;
  color: var(--gray-600);
}
.features-cntainer {
  display: grid;
  justify-content: center;
}

.features-cntainer .feature {
  display: grid;
  justify-content: center;
  max-width: 327px;
}
.feature {
  margin-top: 2rem;
}
.feature .image {
  width: 72px;
  height: 72px;
  margin: auto;
}
.feature h3 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 115%;
  line-height: -0.025rem;
  margin-top: 2.5rem;
  text-align: center;
  color: var(--blue);
}
.feature p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 115%;
  letter-spacing: 0;
  text-align: center;
  color: var(--gray-600);
}
.article {
  padding: 4rem 1.5rem;
  background-color: var(--gray-50);
}
.article h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.03125rem;
  color: var(--blue);
  text-align: center;
}
.article-container {
  margin-top: 3rem;
  background-color: var(--gray-50);
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.article .blog {
  background-color: var(--white);
  border-radius: 8px;
}
.article .container img {
  border-radius: 8px 8px 0 0;
}
.blog .description {
  padding: 1.5rem 1.938rem;
}
.description span {
  font-size: 0.625rem;
  color: var(--gray-600);
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0;
}
.description h3 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.015625rem;
  margin-top: 16px;
  color: var(--blue);
}
.description p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0;
  color: var(--gray-600);
}
.blog img {
  height: 200px;
}
footer {
  background-color: var(--blue);
  padding: 3.4rem 0;
}

.footer-container .logo {
  margin: auto;
}

.socails {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
.socails img {
  width: 20px;
  height: 20px;
}
footer {
  text-align: center;
}
footer ul {
  list-style: none;
  text-align: center;
  display: grid;
  gap: 1rem;
}
.links-2 {
  margin-top: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  line-height: 115%;
  letter-spacing: 0;
  font-weight: 400;
}
footer button {
  color: var(--white);
  font-size: var(--blue);
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: 0;
  background-image: linear-gradient(hsl(136, 64%, 51%), hsl(192, 69%, 51%));
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 1.375rem;
  margin: 2rem 0;
}

.footer-container p {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 115%;
  letter-spacing: 0;
  color: var(--gray-600);
}
@media (min-width: 48rem) {
  .navbarHeader {
    padding: 1.346rem 8rem;
  }
  .navbar ul {
    max-width: 607px;
  }
  .intro {
    margin-top: -35%;
    background-image: url("images/bg-intro-desktop.svg");
    background-position: top center;
    position: relative;
    padding-bottom: 4.5rem;
  }
  .intro .image {
    padding: 5rem;
  }
  .intro .text {
    max-width: 447px;
    margin-left: 0;
  }
  .intro .text h1 {
    font-size: 3.5rem;
    letter-spacing: -0.0625rem;
    line-height: 120%;
  }
  .intro .text p {
    font-size: 1.125rem;
  }
  main .container {
    padding: 5rem;
  }
  .container .title h2 {
    font-size: 2.5rem;
    letter-spacing: -0.046875rem;
  }
  .container .title {
    max-width: 518px;
  }
  .article {
    padding: 5rem;
  }
  .features-cntainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
  }

  .feature h3,
  .feature p {
    text-align: left;
  }
  .feature .image {
    margin: unset;
  }
  .article-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
}
@media (min-width: 64rem) {
  .navbar {
    display: none;
  }
  .deskNavbar {
    position: relative;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .deskNavbar .logo {
    width: 154px;
    height: 20.93px;
  }
  .deskNavbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  .deskNavbar ul li {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    position: relative;
  }

  .deskNavbar ul li a {
    text-decoration: none;
    color: var(--gray-600);
    font-size: 1.125rem;
    line-height: 115%;
    font-weight: normal;
    letter-spacing: -0.015625rem;
    outline: none;
  }
  .deskNavbar ul li ::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-image: linear-gradient(
      to left,
      hsl(136, 64%, 51%),
      hsl(192, 69%, 51%)
    );
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  .deskNavbar ul li :hover::after {
    transform: scaleX(1);
  }
  .deskNavbar ul li a:hover,
  .deskNavbar ul li a:focus {
    color: var(--blue);
  }
  .deskNavbar button {
    color: var(--white);
    font-size: var(--blue);
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 200%;
    letter-spacing: 0px;
    background-image: linear-gradient(hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    outline: none;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 1.375rem;
  }
  .deskNavbar button:hover,
  .deskNavbar button:focus {
    opacity: 66%;
    cursor: pointer;
  }
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    background-image: none;
    margin: 0;
    padding: 5rem;
  }
  .intro .image {
    transform: translate(30%);
    margin-top: -30%;

    padding: 0;
    order: 2;
  }
  .intro .text {
    text-align: left;
    position: unset;
  }
  .intro .text h1,
  .intro .text p {
    text-align: left;
  }
  .intro .bg-image {
    display: block;
    width: 78%;
    position: absolute;
    z-index: -1;
    top: -30%;
    right: -25%;
  }
  .intro .text button:hover {
    opacity: 66%;
    cursor: pointer;
  }
  .features-cntainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .title {
    margin: 0;
    text-align: left;
  }
  .container .title p,
  .container .title h2 {
    text-align: left;
  }
  .article-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .article h2 {
    text-align: left;
  }
  .blog .description h3:hover {
    color: var(--green);
    cursor: pointer;
  }
  footer {
    padding: 5rem;
    text-align: left;
  }
  footer ul {
    text-align: left;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 7.5rem;
  }
  .footer-container ul li {
    padding: 0;
  }
  .footer-container ul li a:hover {
    color: var(--green);
  }
  .socails {
    margin-top: 3.5rem;
    justify-content: start;
  }
  .socails img:hover {
    cursor: pointer;
  }
  .links-2 {
    margin: 0;
    flex: 1;
  }
  .footer-container .logo {
    margin: 0;
  }
  footer button {
    margin-top: 0;
  }
  footer button:hover,
  footer button:focus {
    opacity: 66%;
  }
}
